* {
	/* Lazy reset */
	margin: 0;
	padding: 0;
}
body {
	background-image:url(gearHalf.png);
	color: #000000;
	font-size: 14px;
	line-height: 1.5em;
	font-family: myriad-pro,sans-serif;
	text-align: center;
}

#wrapper {
	/*text-align: left;*/
	margin: 2em auto;
	width: 550px;
}



/* Font styles */
h1 {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: center;
	/*color: #134779*/
}
a {
	color: #990000;
	text-decoration: none;
}
a:hover {
	color: #c40000;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
}

/* Core nav styles */
#toc {
	list-style: none;
	margin-bottom: 20px;
}
#toc li {
	background: url(dot.gif) repeat-x bottom left;
	overflow: hidden;
	padding-bottom: 2px;
}
#toc a,
#toc span {
	display: inline-block;
	/*background: #fff;*/
	position: relative;
	bottom: -4px;
}
#toc a {
	float: right;
	padding: 0 0 3px 2px;
}
#toc span {
	float: left;
	padding: 0 2px 3px 0;
}
